@{
    ViewData["Title"] = "Category List";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}

@using System.Data
@model DataTable


<div class="main-content">
    <section class="section">
        <div class="section-header">
            <h1>Category List</h1>
        </div>
        @if (ViewBag.Save != null)
        {
            <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header">
                    <strong class="me-auto">Eiser</strong>
                    <small>Just Now</small>
                </div>
                <div class="toast-body">
                    @ViewBag.Save
                </div>
            </div>
        }
        @if (ViewBag.Delete != null)
        {
            <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header">
                    <strong class="me-auto">Eiser</strong>
                    <small>Just Now</small>
                </div>
                <div class="toast-body">
                    @ViewBag.Delete
                </div>
            </div>
        }
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4>Category</h4>
                        <div class="card-header-form">
                            <form>
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Search" id="sample_1">
                                    <div class="input-group-btn">
                                        <button class="btn btn-primary"><i class="fas fa-search"></i></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <a class="btn btn-primary m-2" asp-area="Category" asp-controller="Category" asp-action="CategoryAdd">Add Category</a>
                    </div>
                    <div class="m-2">
                        <form class="row g-3" method="POST" asp-area="Category" asp-controller="Category" asp-action="CategoryFilter">
                            <div class="col-md-4">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="floatingZip" name="CountryData" placeholder="Category Name">

                                </div>
                            </div>

                            <div class="d-flex justify-content-between align-items-center">
                                <div class="text-right">
                                    <button type="submit" class="btn btn-outline-success" asp-area="Category" asp-controller="Category" asp-action="CategoryFilter">Submit</button>
                                    <button type="submit" runat="server" OnClientClick="this.form.reset();return false;" class="btn btn-outline-secondary">Reset</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-striped" id="table-2">
                                <thead>
                                    <tr>
                                        <th class="text-left">Category</th>
                                        <th class="text-right">Action</th>
                                    </tr>
                                </thead>
                                <tbody id="sample_2">
                                    @foreach (DataRow dataRow in Model.Rows)
                                    {
                                        <tr>
                                            <td class="text-left">
                                                <a asp-area="Category" asp-controller="Category" asp-action="CategoryAdd" asp-route-categoryid="@Convert.ToInt32(dataRow["CategoryID"])">@dataRow["CategoryName"]</a>
                                            </td>
                                            <td class="text-right">
                                                <a class="btn btn-success" asp-area="Category" asp-controller="Category" asp-action="CategoryAdd" asp-route-categoryid="@Convert.ToInt32(dataRow["CategoryID"])">Edit</a>
                                                <a class="btn btn-danger" asp-area="Category" asp-controller="Category" asp-action="CategoryDelete" asp-route-categoryid="@Convert.ToInt32(dataRow["CategoryID"])">Delete</a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

@section Scripts
{
    <script>
        $(document).ready(function () {
            $("#sample_1").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#sample_2 tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });


    </script>
}

