@{
    ViewData["Title"] = "Cart List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using System.Data
@using ECommerce.BAL
@model DataTable
@if (Model != null && Model.Rows.Count > 0)
{
    <!--================Home Banner Area =================-->
    <section class="banner_area">
        <div class="banner_inner d-flex align-items-center">
            <div class="container">
                <div class="banner_content d-md-flex justify-content-between align-items-center">
                    <div class="mb-3 mb-md-0">
                        <h2>Cart</h2>
                        <p>Very us move be blessed multiply night</p>
                    </div>
                    @*<div class="page_link">
                        <a>Home</a>
                        <a>Cart</a>
                    </div>*@
                </div>
            </div>
        </div>
    </section>
    <!--================End Home Banner Area =================-->
    <!--================Cart Area =================-->
    <section class="cart_area">
        <div class="container">
            <div class="cart_inner">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Product</th>
                                <th scope="col">Price</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (DataRow dataRow in Model.Rows)
                            {
                                <tr>
                                    <td>
                                        <div class="media">
                                            <div class="d-flex">
                                                <img src="@Url.Content(dataRow["DisplayImage"].ToString())"
                                                     alt="" class="card-img img-fluid rounded cart-product-image" style="max-width: 100px; max-height: 100px;" />
                                            </div>
                                            <div class="media-body">
                                                <p>@dataRow["ProductName"]</p>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <h5>$@dataRow["Price"]</h5>
                                    </td>
                                    <td>
                                        <div class="product_count">
                                            <lable class="input-text qty">@dataRow["Quantity"]</lable>
                                            <a class="increase items-count" asp-area="Cart" asp-controller="Cart" asp-action="Increment_Quantity" asp-route-productid="@Convert.ToInt32(dataRow["ProductID"])" asp-route-userid="@Convert.ToInt32(CommenVariable.UserID())">
                                                <i class="lnr lnr-chevron-up"></i>
                                            </a>
                                            <a class="reduced items-count" asp-area="Cart" asp-controller="Cart" asp-action="Decrement_Quantity" asp-route-productid="@Convert.ToInt32(dataRow["ProductID"])" asp-route-userid="@Convert.ToInt32(CommenVariable.UserID())">
                                                <i class="lnr lnr-chevron-down"></i>
                                            </a>
                                        </div>
                                    </td>
                                    <td>
                                        <h5>$@(Convert.ToDouble(dataRow["Price"]) * Convert.ToDouble(dataRow["Quantity"]))</h5>
                                    </td>
                                    <td><a class="btn btn-primary btn-sm" asp-area="Cart" asp-controller="Cart" asp-action="Remove_Cart_Product" asp-route-productid="@Convert.ToInt32(dataRow["ProductID"])" asp-route-userid="@Convert.ToInt32(CommenVariable.UserID())">X</a></td>
                                </tr>
                            }
                            @*<tr class="bottom_button">
                                <td>
                                    <a class="gray_btn" asp-area="Cart" asp-controller="Cart" asp-action="CartList">Update Cart</a>
                                </td>
                                <td></td>
                                <td></td>
                                <td>
                                    <div class="cupon_text">
                                        <input type="text" placeholder="Coupon Code" required />
                                        <a class="main_btn" href="#">Apply</a>
                                    </div>
                                </td>
                            </tr>*@
                            <tr>
                                <td></td>
                                <td></td>
                                <td>
                                    <h5>Subtotal</h5>
                                </td>
                                <td>
                                    <h5>$@Model.Rows[0]["CartTotal"]</h5>
                                </td>
                            </tr>
                            <tr class="out_button_area">
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>
                                    <div class="checkout_btn_inner">
                                        <a class="gray_btn" asp-area="Product" asp-controller="Product" asp-action="ShoppingProductList">Continue Shopping</a>
                                        <a class="main_btn" asp-area="Checkout" asp-controller="Checkout" asp-action="Billing">Proceed to Billing</a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
    <!--================End Cart Area =================-->
}
else
{
    <div class="container text-center mt-5">
        <h2>Your cart is empty</h2>
        <p>Explore our products and start adding items to your cart!</p>
        <!-- You may want to add a link to the product listing page or homepage here -->
    </div>
}